html {
  --background-color: #f3f3f3;
  --panel-background-color: #374258;
  --primary-color: #6a7285;
  --secondary-color: #f74464;
  --border-color: #c4c4c4;
  --border-radius: 4px;
  --button-disabled-color: #7c7e81;
  --header-color: #dcdee2;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: var(--background-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button {
  border: 0;
  background-color: var(--primary-color);
  color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 5px 10px;
}

.button:disabled {
  background-color: var(--button-disabled-color);
}

.button.button_active {
  background-color: var(--secondary-color);
}

h2 {
  margin: 0;
}

.header {
  background-color: var(--header-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 5px;
  display: flex;
  justify-content: end;
}

.currentDate {
  font-weight: bold;
}

.currentDate::before {
  content: "Сегодня: ";
  font-weight: normal;
}

.itemTitle {
  position: relative;
}

.titleCapybara::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("img/capybara.svg");
  background-size: cover;
  top: -6px;
  right: 5px;
  position: absolute;
}

schedule-navigator {
  flex: 1;
  overflow-y: auto;
}

.list {
  padding: 0;
}

.groupListItem,
.lecturerListItem {
  display: block;
  border-bottom: 1px solid var(--border-color);
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
}

.lecturerListItem::before {
  content: attr(data-name);
}

.lecturerListItem::after {
  content: attr(data-chair);
  margin-left: 5px;
}

.groupListItem::before {
  content: attr(data-group);
}

schedule-group {
  display: flex;
  flex-direction: column;
  height: 100%;
}

schedule-group>h2,
schedule-group>.scheduleDayTable {
  margin-top: 10px;
}

schedule-group>h2 {
  text-align: center;
}

.panel {
  background-color: var(--panel-background-color);
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  box-sizing: border-box;
  min-height: 60px;
  max-height: 60px;
}

schedule-days {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.day {
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;
  font-size: 14px;
}

.weekParityToggle {
  font-size: 14px;
  line-height: 15px;
  box-sizing: border-box;
  width: 82px;
}

.scheduleDayTable {
  width: 100%;
  height: 100%;
  padding: 0px 5px;
}

.scheduleDayTable>tbody {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scheduleDayTable tr {
  flex: 1;
}

.scheduleDayTable tr:nth-child(12n):not(:last-child)>.scheduleColumn,
.scheduleDayTable tr:first-child>.scheduleColumn {
  border-bottom: 1px solid var(--border-color);
}

.timeColumn {
  position: relative;
  min-width: 45px;
}

.time {
  color: var(--primary-color);
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  top: -5px;
}

.scheduleColumn {
  position: relative;
  width: 100%;
}

schedule-lesson {
  position: absolute;
  background-color: var(--secondary-color);
  width: 100%;
  z-index: 1;
  border-radius: var(--border-radius);
  padding: 5px;
  box-sizing: border-box;
  color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

schedule-lesson>div {
  display: flex;
  justify-content: space-between;
}